.task{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

background: rgb(227,18,106);
background: linear-gradient(90deg, rgba(227,18,106,1) 0%, rgba(255,136,0,1) 100%);
min-height: 3rem;
box-sizing: border-box;
margin-bottom: 1rem;
border-radius:0.7rem;
padding: 0.5rem 1rem ;
color: white;
}


.taskInputGroup{
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 1em  auto;
  gap: 1rem; 
  align-items: center; 
}
.taskInputGroup input[type="checkbox"] {
    -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.20rem;
  height: 1.20rem;
  border-radius: 0.60rem;
}
.taskInputGroup input[type="checkbox"]:hover, .taskInputGroup input[type="checkbox"]:focus {
  background-color: rgb(212, 212, 212);;
  cursor: pointer;
}
.taskComplate input[type="checkbox"]{
  background-color: gray;
}

.taskButtonGroup{
    display: flex;
    flex-direction: row;

}

.taskButtonGroup button {
    color: white;
    padding: 0  ;
    margin-left: 0.5rem;
    background: transparent;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskButtonGroup button:hover,.taskButtonGroup button:focus{
  color: rgb(212, 212, 212);
  cursor: pointer;
}

.taskComplate{
  background:white;
  color:gray;
  text-decoration: line-through;

}
 .taskComplate button{
  color:gray;
} 

.buttonDisabled:hover,.buttonDisabled:focus{
  color:gray !important;
  cursor: not-allowed !important;
}
